<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Ekran ustida turadigan oyna -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Ekranni o'qish doimiy ishlovchi xizmat talab qiladi -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:label="@string/ilova_nomi"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.DayNight">

        <activity
            android:name=".AsosiyOyna"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".EkranXizmati"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
